html{
  color: #444;
}

html, body{
  margin: 0px;
  padding: 0px;
}

/* Shared styles */

.drop-shadow {
    position:relative;
    width:95%;   
    padding: 5px 12px;
    margin: 2em 10px 2em; 
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
}

/* Lifted corners */

.lifted {
    -moz-border-radius:4px; 
         border-radius:4px;
}

.lifted:before,
.lifted:after { 
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);    
       -moz-transform:rotate(-3deg);   
        -ms-transform:rotate(-3deg);   
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
    right:10px; 
    left:auto;
    -webkit-transform:rotate(3deg);   
       -moz-transform:rotate(3deg);  
        -ms-transform:rotate(3deg);  
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}



.header{
  display:block;
  width: 100%;
  background: #c9de96;
  background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235));
  background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
  background: -o-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
  background: -ms-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
  background: linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
}

.header h1{
  margin: 0px;
  padding: 15px 10px;
}

.header .title a {
  font-size: 26px;
  font-weight: 800;
  text-shadow: 1px 1px 1px #444;
  filter: dropshadow(color=#444, offx=1, offy=1);
  color: #fff;
  text-decoration: none;
  line-height: 32px;
}

.header .login{
  padding: 10px 0px;
  text-align: right;
  color: #fff;
}

.header .login a {
  color: #444;
}

.login #session_student_id_number_input label{
  width: 20%;
}

.login #session_student_id_number_input input{
  width: 75%;
}

.login fieldset{
  padding: 0px !important;
}

.login li{
  margin-bottom: 0px !important;
  padding-bottom:0px !important;
}


section{
  display: block;
  margin: 10px;
}

section p{
  margin: 0px;
}

.votes{
  text-align: center;
}

.votes h2{
  margin: 0px;
}

h2.vote_count{
  margin-bottom: 5px;
}

.votes a {
  text-decoration: none;
}

.vote_button {
  color: #aaa;
}
.vote_button a {
  color: #68DA09;
}

table {
  width: 100%;
}

td.votes{
  width: 5%; 
}

td.title{
  width: 85%;
}

td.details{
  width: 10%;
}

div.details{
  display: none;
}

.choice h1{
  font-size: 140%;
}

.choice h2{
  font-size: 120%;
}

